@model IEnumerable<Vidly.Models.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to my Blog</h2>

<br><br><br>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="card-my-4">
                Best Electronics Tips & Repair Plus Programing
                <br><small>Blogs for 2017</small>
            </h1>
            <!-- Blog Post -->
            @foreach (var blog in Model)
            {
            <div class="card mb-4">
                <img class="img-responsive" src="assets/images/image10.png" alt="@blog.PostImage">
                <div class="card-body">
                    <h2 class="card-title">@blog.PostTitle</h2>
                    <p class="card-text">@blog.PostContent</p>
                    <button class="btn btn-default">@Html.ActionLink("More-Details", "Details",new { id = blog.Id}, null)</button>
                </div>
                <div class="card-footer text-muted">
                    Posted on datetime by @blog.PostDate
                    <a href="#">author</a>
                </div>
            </div>
            }
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    JavaScript is the most popular language above Java, Python, Node.js, Ruby, and more.
                    JavaScript is the language that browsers use. It's easy to get started with and to understand.
                    You can get going right away - unlike other languages, you don't have install a bunch of programs
                    before you can even begin.Sep 14, 2017
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->